body {
    background-color: #121212;
    color:aliceblue
}

header {
    background-color: #1e1e1e;
}

section {
    margin: 20px;
    padding: 20px;
}

img{
    width: 600px;
    height: 450px;
}

.nav-link {
    color: cyan;
    text-decoration: none;
}

.boton {
    padding: 10px;
}

.destacado {
    background-color: cyan;
}

.tarjeta {
    box-sizing: border-box;
    background-color: #1e1e1e;
    color: white;
    padding: 20px;
    border: 2px solid cyan;
    width: 300px;
    border-radius: 20px;
}

.proyectos {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}
