body {
    background-color: #121212;
    color:aliceblue
}

header {
    background-color: #1e1e1e;
}

section {
    margin: 20px;
    padding: 20px;
}

.nav-link {
    color: cyan;
    text-decoration: none;
}

.boton {
    padding: 10px;
}

.destacado {
    background-color: cyan;
}
